.chart-wrapper {
  background: image-url('chart-bkg.png');
}

.tick {
  fill: none;
  stroke: rgba(#fff, .2);
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.axis {
  path {
    @extend .tick;
  }

  text {
    display: none;
  }
}

.label {
  @include font(500, 10px);
  fill: #fff;
  text-transform: uppercase;
}

.grid {
  @extend .tick;
  stroke: rgba(#fff, .1);
}

circle{
  stroke: black;
  stroke-width: .5px;
  @include opacity(.6);

  &.americas { fill: #FFD24D; }
  &.asia { fill: #A64DFF; }
  &.middle_east { fill: #5DA69D; }
  &.east_europe { fill: #FF73FF; }
  &.west_europe { fill: #64C5FF; }
  &.africa { fill: #FF4D4D; }
}

.tipsy{
  @include font(400, 15px, 1.2, 'Open Sans');
  fill:#FFF;
  pointer-events: none;
}

.graph_selector-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 32px;
  width: 32px;
  @include border-radius(5px);
  background: #fff;
  border: 1px solid #000;
  padding: 2px;

  &:hover { background: #f4f4f4; }

  ul { float: right; }

  li {
    position: relative;
    float: right;
    margin-left: 5px;
    @include border-radius(4px);
    background: #000;

    &:first-child { margin-left: 8px; }
    &:last-child { margin-left: 0; }

    &.selected a { opacity: 1; }

    a {
      display: block;
      width: 30px;
      height: 30px;
      border: 1px solid #333;
      @include border-radius(4px);
      background-repeat: no-repeat;
      @include background-size(cover);
      opacity: .6;
    }
  }
}
