$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin font($font-style, $font-size, $line-height: 1.4, $font-family: $helvetica) {
  font: $font-style #{$font-size}/#{$line-height} $font-family;
}

@mixin clearfix() {
  & { *zoom: 1; }
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

.slavery_policy_risk_96 { background-color: #b20727; }
.slavery_policy_risk_95 { background-color: #b30f27; }
.slavery_policy_risk_94 { background-color: #b41428; }
.slavery_policy_risk_93 { background-color: #b51929; }
.slavery_policy_risk_92 { background-color: #b61d29; }
.slavery_policy_risk_91 { background-color: #b7202a; }
.slavery_policy_risk_90 { background-color: #b8242b; }
.slavery_policy_risk_89 { background-color: #b8272c; }
.slavery_policy_risk_88 { background-color: #b92a2c; }
.slavery_policy_risk_87 { background-color: #ba2d2d; }
.slavery_policy_risk_86 { background-color: #bb2f2e; }
.slavery_policy_risk_85 { background-color: #bc322e; }
.slavery_policy_risk_84 { background-color: #bd352f; }
.slavery_policy_risk_83 { background-color: #be3730; }
.slavery_policy_risk_82 { background-color: #bf3931; }
.slavery_policy_risk_81 { background-color: #c03c31; }
.slavery_policy_risk_80 { background-color: #c13e32; }
.slavery_policy_risk_79 { background-color: #c14033; }
.slavery_policy_risk_78 { background-color: #c24333; }
.slavery_policy_risk_77 { background-color: #c34534; }
.slavery_policy_risk_76 { background-color: #c44735; }
.slavery_policy_risk_75 { background-color: #c54936; }
.slavery_policy_risk_75 { background-color: #c64b36; }
.slavery_policy_risk_74 { background-color: #c74d37; }
.slavery_policy_risk_73 { background-color: #c74f38; }
.slavery_policy_risk_72 { background-color: #c85139; }
.slavery_policy_risk_71 { background-color: #c95339; }
.slavery_policy_risk_70 { background-color: #ca563a; }
.slavery_policy_risk_69 { background-color: #cb583b; }
.slavery_policy_risk_68 { background-color: #cc593c; }
.slavery_policy_risk_67 { background-color: #cd5b3d; }
.slavery_policy_risk_66 { background-color: #cd5d3d; }
.slavery_policy_risk_65 { background-color: #ce5f3e; }
.slavery_policy_risk_64 { background-color: #cf613f; }
.slavery_policy_risk_63 { background-color: #d06340; }
.slavery_policy_risk_62 { background-color: #d16540; }
.slavery_policy_risk_61 { background-color: #d16741; }
.slavery_policy_risk_60 { background-color: #d26942; }
.slavery_policy_risk_59 { background-color: #d36b43; }
.slavery_policy_risk_58 { background-color: #d46d44; }
.slavery_policy_risk_57 { background-color: #d56f44; }
.slavery_policy_risk_56 { background-color: #d67045; }
.slavery_policy_risk_55 { background-color: #d67246; }
.slavery_policy_risk_54 { background-color: #d77447; }
.slavery_policy_risk_54 { background-color: #d87647; }
.slavery_policy_risk_53 { background-color: #d97848; }
.slavery_policy_risk_52 { background-color: #d97a49; }
.slavery_policy_risk_51 { background-color: #da7b4a; }
.slavery_policy_risk_50 { background-color: #db7d4b; }
.slavery_policy_risk_49 { background-color: #dc7f4b; }
.slavery_policy_risk_48 { background-color: #dd814c; }
.slavery_policy_risk_47 { background-color: #dd834d; }
.slavery_policy_risk_46 { background-color: #de854e; }
.slavery_policy_risk_45 { background-color: #df864f; }
.slavery_policy_risk_44 { background-color: #e08850; }
.slavery_policy_risk_43 { background-color: #e08a50; }
.slavery_policy_risk_42 { background-color: #e18c51; }
.slavery_policy_risk_41 { background-color: #e28e52; }
.slavery_policy_risk_40 { background-color: #e38f53; }
.slavery_policy_risk_39 { background-color: #e39154; }
.slavery_policy_risk_38 { background-color: #e49354; }
.slavery_policy_risk_37 { background-color: #e59555; }
.slavery_policy_risk_36 { background-color: #e69756; }
.slavery_policy_risk_35 { background-color: #e69857; }
.slavery_policy_risk_34 { background-color: #e79a58; }
.slavery_policy_risk_33 { background-color: #e89c59; }
.slavery_policy_risk_33 { background-color: #e89e59; }
.slavery_policy_risk_32 { background-color: #e9a05a; }
.slavery_policy_risk_31 { background-color: #eaa15b; }
.slavery_policy_risk_30 { background-color: #eba35c; }
.slavery_policy_risk_29 { background-color: #eba55d; }
.slavery_policy_risk_28 { background-color: #eca75e; }
.slavery_policy_risk_27 { background-color: #eda95f; }
.slavery_policy_risk_26 { background-color: #edaa5f; }
.slavery_policy_risk_25 { background-color: #eeac60; }
.slavery_policy_risk_24 { background-color: #efae61; }
.slavery_policy_risk_23 { background-color: #efb062; }
.slavery_policy_risk_22 { background-color: #f0b263; }
.slavery_policy_risk_21 { background-color: #f1b364; }
.slavery_policy_risk_20 { background-color: #f1b565; }
.slavery_policy_risk_19 { background-color: #f2b765; }
.slavery_policy_risk_18 { background-color: #f3b966; }
.slavery_policy_risk_17 { background-color: #f3bb67; }
.slavery_policy_risk_16 { background-color: #f4bc68; }
.slavery_policy_risk_15 { background-color: #f5be69; }
.slavery_policy_risk_14 { background-color: #f5c06a; }
.slavery_policy_risk_13 { background-color: #f6c26b; }
.slavery_policy_risk_12 { background-color: #f7c36b; }
.slavery_policy_risk_12 { background-color: #f7c56c; }
.slavery_policy_risk_11 { background-color: #f8c76d; }
.slavery_policy_risk_10 { background-color: #f8c96e; }
.slavery_policy_risk_9 { background-color: #f9cb6f; }
.slavery_policy_risk_8 { background-color: #facc70; }
.slavery_policy_risk_7 { background-color: #face71; }
.slavery_policy_risk_6 { background-color: #fbd072; }
.slavery_policy_risk_5 { background-color: #fcd272; }
.slavery_policy_risk_4 { background-color: #fcd473; }
.slavery_policy_risk_3 { background-color: #fdd574; }
.slavery_policy_risk_2 { background-color: #fdd775; }
