.map-wrapper,
.cartodb-map {
  height: 100%;
  width: 100%;
}

// override leaflet.css
.leaflet-container {
  background: #333;
}

// override cartodb.css
div.cartodb-legend-stack {
  z-index: 1000002;
  position: absolute;
  bottom: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
  @include box-shadow(none);
}