$risk1: #B10026;
$risk2: #E31A1C;
$risk3: #FC4E2A;
$risk4: #FD8D3C;
$risk5: #FEB24C;
$risk6: #FED976;
$risk7: #FFFFB2;


@import "infowindow-icons/*.png";

$infowindow-icons-population-spacing: 40px;
$infowindow-icons-slavery-spacing: 40px;


.cartodb-map-disabled {
  cursor: default;
}

// override leaflet.css
.leaflet-container {
  background: transparent;
}

.zoom-wrapper {
  position: absolute;
  z-index: 10;
  margin: 20px 0 0 50px;
  border: 1px solid #444;
  @include border-radius(14px);
  @include box-shadow(none);

  a {
    float: left;
    height: 26px;
    width: 32px;
    border: 0;
    line-height: 26px;
    font-weight: bold;
    background: #f8f8f8 url('../images/zoom-sprite.png') no-repeat;
    color: #00A99D;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: #fff;
    }

    &.disabled {
      background-color: rgba(#fff, .9) !important;
      cursor: default;
    }

    &.zoomIn {
      @include border-radius(13px 0 0 13px);
    }

    &.zoomOut {
      border-left: 1px solid #CCC;
      background-position: -32px 0;
      @include border-radius(0 13px 13px 0);
    }

    span { display: none; }
  }
}

// infowindow
// override cartodb.css
.infowindow {
  padding: 0;
  width: auto;
  background: transparent;
}

.infowindow-title {
  padding: 20px;
  color: #444;
  @include font(bold, 21px, 1, "Open Sans");
}

.infowindow-risk {
  width: 199px;
  max-width: 199px;
  height: 10px;
  color: $risk1;
  border-top: 2px solid $risk1;

  &.very_high {
    color: $risk2;
    border-top-color: $risk2;
  }

  &.high {
    color: $risk3;
    border-top-color: $risk3;
  }

  &.moderate {
    color: $risk4;
    border-top-color: $risk4;
  }

  &.moderate_low {
    color: $risk5;
    border-top-color: $risk5;
  }

  &.low {
    color: $risk6;
    border-top-color: $risk6;
  }

  &.very_low {
    color: $risk7;
    border-top-color: $risk7;
  }

  span {
    float: right;
    margin: -9px 13px 0 0;
    padding: 0 5px;
    background: #FFF;
    text-transform: uppercase;
    @include font(bold, 11px);
  }
}

.total-num {
  float: right;
  text-align: right;

  span {
    display: block;
    font-size: 10px;
  }
}

.infowindow-block {
  overflow: hidden;
  margin: 10px 0;
  padding: 0 20px;
  background-repeat: no-repeat;
  color: #444;
  @include font(400, 21px, 1.2, 'Open Sans');
}

.infowindow-population {
  @include infowindow-icons-sprite(population, $offset-x: 20px);
  margin: 10px 0 10px 0;
}

.infowindow-slaved {
  @include infowindow-icons-sprite(slavery, $offset-x: 20px);
  color: #F1B14C;
  margin-bottom: 0;
}

.percent {
  float: left;
  padding: 0 5px;
  margin: 9px 0;
  font-size: 11px;
  background: #FFF;
}

.more {
  @include box-sizing(border-box);
  position: absolute;
  margin: 24px 0 0 0;
  display:block;
  width: 199px;
  height: 49px;
  border-top: 2px solid #eee;
  text-transform: uppercase;
  text-decoration: none;
  @include font(bold, 12px, 49px);
  text-align: center;
  color: #00A99D !important; // override leaflet-container
  @include border-bottom-radius(5px);

  &:hover {
    background: #f8f8f8;
  }

  i {
    position: absolute;
    display: block;
    line-height: 24px;
    top: -15px; left: 50%;
    width: 24px;
    margin-left: -14px;
    border: 2px solid #eee;
    background: #fff;
    @include border-radius(15px);
  }
}

.panel-wrapper {
  position: absolute;
  top: 55px; left: 60px;
  z-index: 10;
  display: none;
  color: #fff;
}

.panel-title {
  @include font(300, 67px, 1.2, "Open Sans");
}

.panel-desc {
  width: 365px;
  @include font(300, 17px, 1.2, "Open Sans");

  a { color: #fff; }
}

.panel-sep {
  display: block;
  width: 148px;
  margin: 25px 0;
  border-bottom: 2px solid #fff;
}

.panel-item {
  margin-bottom: 10px;
  @include font(700, 41px, 1, "Open Sans");
  text-transform: uppercase;

  strong {
    display: block;
    @include font(600, 13px, 1.2, "Open Sans");
    color: #ababab;
  }
}

.infowindow-wrapper {
  position: absolute;
  z-index: 10;
  display:none;
  width: 213px;
  min-height: 30px;

  .spinner {
    position:relative;
    top: 27px;
    display: block;
    background: url(../images/spinner.gif) no-repeat 0 0;
    margin: auto;
    width: 24px;
    height: 24px;
  }

  .content {
    position: relative;
    z-index: 10;
    padding: 0 3px 60px 11px;
    min-height: 60px;
    background: url(../images/infowindow-sprite.png) no-repeat 0 16px;

    &.no_data {
      padding: 0 3px 0 11px;
      text-align: center;
      text-transform: uppercase;
      @include font(bold, 12px, 1.2, 'Open Sans');
      background: url(../images/infowindow-sprite.png) no-repeat -623px 16px;

      p {
        position: relative;
        top: 30px;
      }
    }

    &.loading {
      padding: 0 3px 0 11px;
    }
  }

  .top {
    position: absolute;
    top: 0; left: 8px;
    width: 205px;
    height: 16px;
    background: url(../images/infowindow-sprite.png) no-repeat -213px 0;
  }

  .bottom {
    position: absolute;
    bottom: -16px; left: 8px;
    width: 205px;
    height: 16px;
    background: url(../images/infowindow-sprite.png) no-repeat -418px 0;
  }
}

.chip {
  &:hover span { display: block; }

  span { display: none; }
}