@import "compass/reset";
@import "compass/css3";

@import "helpers";
@import "map";
@import "plot";

html,
body,
.wrapper,
.map-wrapper,
.plot-wrapper,
.cartodb-map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  background: #333;
  min-width: 960px;
}

.nav {
  position: absolute;
  z-index: 1000001;
  bottom: 0; left: 0;
  width: 100%;
  min-width: 960px;
  height: 62px;
}

.legend {
  display: none;
  position: absolute;
  bottom: 20px; right: 20px;
  @include clearfix();

  strong  {
    float: left;
    position: relative;
    margin: 0 7px 0 0;
    text-transform: uppercase;
    @include font(bold, 10px, 25px);
    color: #414346;
  }
}

.legend-plot {
  ul { float: left; }

  li {
    float:left;
    position:relative;
    margin: 0 30px 0 0;
    @include font(bold, 10px, 25px);
    color: #393D3F;
    text-transform: uppercase;

    &:last-child { margin-right: 0; }

    i {
      width: 7px; height: 7px;
      margin: 0 3px 0 0;
      position:relative;
      top:-1px;
      border: 1px solid #fff;
      @include inline-block();
      @include border-radius(100px);
      @include opacity(.6);
    }
  }
}

.legend-map {
  .gradient {
    position: relative;
    top: 7px;
    float: left;
    width: 394px;
    height: 10px;
    border: 1px solid rgba(#000, .3);
    @include border-radius(6px);
    @include background-image(linear-gradient(left, #fed976 0%, #b20727 100%));
  }

  .left,
  .right {
    position: relative;
    top: -25px;
    @include font(500, 9px);
    color: #aaa;
    text-transform: uppercase;
  }

  .left { float: left; }
  .right { float: right; }
}

.switch {
  position: absolute;
  bottom: 20px; left: 20px;
  padding: 2px;
  background: #fff;
  border: 1px solid #444;
  @include border-radius(14px);

  span {
    position: absolute;
    top: 2px; bottom: 2px; left: 2px;
    width: 47px;
    background: #44464A;
    @include border-radius(11px);
    width: 47px;
  }

  ul {
    position: relative;
    z-index: 10;
  }

  li {
    float: left;
  }

  a {
    @include inline-block();
    padding: 0 10px;
    color: #00A99D;
    text-decoration: none;
    text-transform: uppercase;
    @include font(bold, 12px, 22px, "Open Sans");

    &.selected {
      color: #fff;
    }
  }
}

.loader {
  position: absolute !important;
}

.selectors {
  position: absolute;
  top: 20px; right: 20px;
  z-index: 10;
}

.selector {
  position: relative;
  float: right;
  margin-left: 10px;
  text-align: right;

  ul {
    position: absolute;
    right: 0;
    display: none;
    width: 254px;
    margin-top: 10px;
    @include border-radius(5px);
    @include box-shadow(0 0 0 3px rgba(#000, .2));
    text-align: left;

    &.countries_high {
      right: 264px;
    }
  }

  a {
    color: #00A99D;
    text-decoration: none;
  }

  li {
    &:last-child a {
      @include border-bottom-radius(4px);
    }

    &:hover a {
      background: #f6f6f6 url('../images/selector.png') no-repeat right 0;
      color: #444;
    }

    a,
    span {
      position: relative;
      display: block;
      height: 34px;
      padding-left: 14px;
      border-top: 2px solid #e5e5e5;
      background: #fff;
      @include font(bold, 14px, 35px, "Open Sans");

      i {
        position: absolute;
        bottom: 0; left: 0;
        display: block;
        height: 36px;
        width: 4px;
        margin-right: 10px;
      }
    }

    span,
    &:first-child a {
      border-top: 0;
      @include border-top-radius(4px);
    }

    span {
      color: #AAA;
    }
  }

  .link:after {
    content: "▼";
    font-size: 6px;
    top: -1px;
    position: relative;
    margin-left: 5px;
  }
}

.button {
  display: inline-block;
  @include font(bold, 12px, 26px, "Open Sans");
  @include border-radius(15px);
  height: 26px;
  border: 1px solid #444;
  padding: 0 10px;
  text-transform: uppercase;
  background: #fff;
  color: #aaa;

  &:hover { background: #f8f8f8; }

  span {
    display: none;
  }

  .logo {
    display: inline-block;
    width: 20px;
    height: 26px;
    vertical-align: bottom;
    background: url('../images/share-sprite.png') no-repeat;

    &.twitter {
      background-position: -20px;
    }
  }

  .sep {
    font-weight: normal;
    color: #ccc;
  }
}
