<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- TODO: title -->
  <title></title>
  <meta name="viewport" content="width=device-width">
  <meta name="robots" content="noindex">

  <!-- TODO: metas -->
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="DC.title" content="">
  <meta property="og:title" content=""/>
  <meta property="og:description" content=""/> 
  <meta property="og:type" content="Visualization"/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content=""/>

  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
  <link rel="stylesheet" href="styles/vendor/leaflet.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.ie.css" />
    <link rel="stylesheet" href="styles/vendor/leaflet.ie.css" />
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/main.css">

  <script src="scripts/vendor/modernizr.custom.82536.js"></script>
</head>
<body>
  <div id="wrapper" class="wrapper">
    <div class="map-wrapper"></div>
    <div class="plot-wrapper"></div>
    <nav class="nav"></nav>
  </div>

  <!-- templates -->
  <script id="nav-template" type="text/x-underscore-template">
    <div class="switch">
      <span class="selected"></span>
      <ul>
        <li><a href="#map" data-url="#map" class="map">map</a></li>
        <li><a href="#plot" data-url="#plot" class="plot">plot</a></li>
      </ul>
    </div>

    <div class="legend button legend-plot">
      <ul>
        <li><i style="border-color: #330066; background-color:#A64DFF"></i> Asia</li>
        <li><i style="border-color: #663300; background-color:#FFD24D"></i> Americas</li>
        <li><i style="border-color: #0F2523; background-color:#5DA69D"></i> Middle East</li>
        <li><i style="border-color: #660066; background-color:#FF73FF"></i> Central and Eastern Europe</li>
        <li><i style="border-color: #003040; background-color:#64C5FF"></i> Western Europe</li>
        <li><i style="border-color: #660000; background-color:#FF4D4D"></i> Sub-saharian Africa</li>
      </ul>
    </div>

    <div class="legend button legend-map">
      <strong>Slavery Prevalence</strong>
      <div class="gradient">
        <div class="left">Very low</div>
        <div class="right">Very high</div>
      </div>
    </div>
  </script>

  <script id="cartodb-map-template" type="text/x-underscore-template">
    <svg class="mamufas"></svg>
    <div id="cartodb-map" class="cartodb-map"></div>
    <div class="zoom"></div>
    <div class="infowindow"></div>
    <div class="panel"></div>
    <div class="selectors">
      <div class="share selector"></div>
      <div class="country_selector selector"></div>
      <div class="region_selector selector"></div>
      <div class="map_help selector"></div>
    </div>
  </script>

  <script id="zoom-template" type="text/x-underscore-template">
    <a href="#zoomIn" class="zoomIn"><span>+</span></a>
    <a href="#zoomOut" class="zoomOut"><span>-</span></a>
  </script>

  <script type="infowindow/html" id="infowindow_loading-template">
    <div class="top"></div>

    <div class="content loading">
      <div class="spinner"></div>
    </div>

    <div class="bottom"></div>
  </script>

  <script type="infowindow/html" id="infowindow_error-template">
    <div class="top"></div>

    <div class="content no_data">
      <p><%= content.country_name %> was not included in this edition of the Index</p>
    </div>

    <div class="bottom"></div>
  </script>

  <script type="infowindow/html" id="infowindow_success-template">
    <div class="top"></div>
    <div class="content">
      <div class="inner">
        <h1 class="infowindow-title" style="border-bottom: 2px solid <%= rankColor(parseInt(content.rank, 10)) %>"><%= content.country_name %></h1>

        <div class="infowindow-block infowindow-slaved">
          <p class="total-num">
            <% if(content.slaves > 100) { %>
              <%= numberWithCommas(content.slaves_lb_rounded) %> - <%= numberWithCommas(content.slaves_ub_rounded) %>
            <% } else { %>
              < 100
            <% } %>
            <span>Estimated number enslaved</span>
          </p>
        </div>

        <div class="infowindow-block">
          <p class="total-num"><%= content.rank %> <span>Index rank</span></p>
        </div>

        <a href="#map/country/<%= content.iso_a3 %>" class="more"><i>+</i>About this country</a>
      </div>
    </div>

    <div class="bottom"></div>
  </script>

  <script id="country_panel-template" type="text/x-underscore-template">
    <h1 class="panel-title"><%= country_name %></h1>
    <h2 class="panel-subtitle">A country within <a href="#map/region/<%= region %>" class="back"><%= region_name %></a> - get back to the <a href="#map" class="back">whole world</a></h2>

    <div class="panel-sep"></div>

    <ul class="panel-items">
      <li class="panel-item">
        <strong>Index rank</strong>
        <%= rank %>
      </li>

      <li class="panel-item slaved">
        <strong>Estimated number enslaved</strong>

        <% if(slaves > 100) { %>
          <%= numberWithCommas(slaves_lb_rounded) %> - <%= numberWithCommas(slaves_ub_rounded) %>
        <% } else { %>
          < 100
        <% } %>
      </li>

      <li class="panel-item">
        <strong>Population</strong>
        <%= numberWithCommas(population) %><sup>(2012)</sup>
      </li>

      <li class="panel-item">
        <strong>GDP (PPP)</strong>
        $<%= numberWithCommas((gdppp / 1000000000).toFixed(2)) %>B
        <sup>
          (2012)

          <span class="panel-credit">
            [1]

            <dl class="tooltip w">
              <dt>2012 GDP $US Data, The World</dt>
              <dd>Bank: <a href="http://data.worldbank.org/indicator/NY.GDP.MKTP.CD">http://data.worldbank.org/indicator/NY.GDP.MKTP.CD</a></dd>
            </dl>
          </span>
        </sup>
      </li>

      <li class="panel-item">
        <!-- calculated, not from dataset -->
        <strong>GDP/capita (PPP)</strong>
        $<%= numberWithCommas(parseInt(gdppp/population, 10)) %>

        <sup>
          (2012)

          <span class="panel-credit">
            [2]

            <dl class="tooltip w">
              <dt>2012 GDP per capita $US Data, The World</dt>
              <dd>Bank: <a href="http://data.worldbank.org/indicator/NY.GDP.PCAP.CD/countries">http://data.worldbank.org/indicator/NY.GDP.PCAP.CD/countries</a></dd>
            </dl>
          </span>
        </sup>
      </li>

      <li class="panel-item">
        <strong>US TIP Report ranking</strong>
        Tier <%= us_tip_report_ranking %><sup>(2013)</sup>
      </li>

      <% if(remittances_of_gdp !== null) { %>
        <li class="panel-item">
          <strong>Remittances as a share of GDP</strong>
          <%= remittances_of_gdp %>%

          <sup>
            (2011)

            <span class="panel-credit">
              [3]

              <dl class="tooltip w">
                <dt>Migration and Remittances Data, Inflows, 2011, The World</dt>
                <dd>Bank: <a href="http://go.worldbank.org/092X1CHHD0">http://go.worldbank.org/092X1CHHD0</a></dd>
              </dl>
            </span>
          </sup>
        </li>
      <% } %>

      <% if(url) { %>
        <li class="panel-item last">
          <a href="<%= url %>" class="learn-more" target="_blank">Learn more about this country</a>
        </li>
      <% } %>
    </ul>
  </script>

  <script id="region_panel-template" type="text/x-underscore-template">
    <h1 class="panel-title"><%= region_name %></h1>
    <h2 class="panel-subtitle"><%= countries_count %> countries - get back to the <a href="#map" class="back">whole world</a></h2>

    <div class="panel-sep"></div>

    <p class="panel-desc"><%= region_desc %></p>
  </script>

  <script id="plot-template" type="text/x-underscore-template">
    <div class="chart"></div>
    <div class="chart_description"></div>

    <div class="selectors">
      <div class="graph_selector selector"></div>
      <div class="plot_help selector"></div>
    </div>
  </script>

  <script id="selector-template" type="text/x-underscore-template">
    <a href="#" class="link button"><%= link_title %></a>

    <ul class="selector-items"></ul>
  </script>

  <script id="country_selector-template" type="text/x-underscore-template">
    <a href="#" class="link button"><%= link_title %></a>

    <ul class="selector-items countries countries_low"></ul>
    <ul class="selector-items countries countries_high"></ul>
  </script>

  <script id="graph-template" type="text/x-underscore-template">
    <li id="<%= column %>" class="<%= column %>">
      <a href="#"><%= title %></a>
    </li>
  </script>

  <script id="country-template" type="text/x-underscore-template">
    <li id="<%= iso_a3 %>" class="<%= iso_a3 %>">
      <a href="#map/country/<%= iso_a3 %>"><i style="background:<%= rankColor(parseInt(rank, 10)) %>;"></i><%= name %></a>
    </li>
  </script>

  <script id="country_title-template" type="text/x-underscore-template">
    <li>
      <span><%= title %></span>
    </li>
  </script>

  <script id="region-template" type="text/x-underscore-template">
    <li id="<%= name %>" class="<%= name %> <%= selected ? 'selected' : '' %>">
      <a href="#map/region/<%= name %>"><%= title %></a>
    </li>
  </script>

  <script id="share-template" type="text/x-underscore-template">
    <div class="button">
      Share <a href="http://www.facebook.com/sharer.php?u=" class="logo facebook share" target="_blank"><span>Facebook</span></a> <em class="sep">|</em> <a href="https://twitter.com/share?url=" class="logo twitter share" target="_blank"><span>Twitter</span></a>
    </div>
  </script>

  <script id="help-template" type="text/x-underscore-template">
    <a href="#help" class="button">?</a>
  </script>

  <!-- TODO: Google Analytics -->
  <!-- script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='https://www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script -->

  <!-- script src="scripts/vendor/jquery-1.10.2.min.js"></script>
  <script src="scripts/vendor/jquery-migrate-1.2.1.min.js"></script>
  <script src="scripts/vendor/leaflet.js"></script -->
  <script src="scripts/vendor/d3.min.js"></script>
  <script src="scripts/vendor/simple_statistics.js"></script>
  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>

  <script src="scripts/slavery.js"></script>
  <script src="scripts/core/profiler.js"></script>

  <!-- models -->
  <script src="scripts/models/selector.js"></script>
  <script src="scripts/models/map.js"></script>
  <script src="scripts/models/infowindow.js"></script>
  <script src="scripts/models/panel.js"></script>

  <!-- views -->
  <script src="scripts/common/tabs.js"></script>
  <script src="scripts/common/tabpane.js"></script>
  <script src="scripts/common/nav.js"></script>
  <script src="scripts/common/help.js"></script>

  <script src="scripts/map/map.js"></script>
  <script src="scripts/map/zoom.js"></script>
  <script src="scripts/map/infowindow.js"></script>
  <script src="scripts/map/panel.js"></script>
  <script src="scripts/map/country_selector.js"></script>
  <script src="scripts/map/region_selector.js"></script>
  <script src="scripts/map/share.js"></script>

  <script src="scripts/plot/plot.js"></script>
  <script src="scripts/plot/graph_selector.js"></script>

  <script src="scripts/utils.js"></script>
  <script src="scripts/app.js"></script>
</body>
</html>
