<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- TODO: title -->
  <title></title>
  <meta name="viewport" content="width=device-width">
  <meta name="robots" content="noindex">

  <!-- TODO: metas -->
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="DC.title" content="">
  <meta property="og:title" content=""/>
  <meta property="og:description" content=""/> 
  <meta property="og:type" content="Visualization"/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content=""/>

  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
  <link rel="stylesheet" href="styles/vendor/leaflet.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.ie.css" />
    <link rel="stylesheet" href="styles/vendor/leaflet.ie.css" />
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/main.css">

  <script src="scripts/vendor/modernizr.custom.82536.js"></script>
</head>
<body>
  <div id="wrapper" class="wrapper">
    <div class="map-wrapper"></div>
    <div class="chart-wrapper"></div>
    <nav class="nav"></nav>
  </div>

  <!-- templates -->
  <script id="cartodb-map-template" type="text/x-underscore-template">
    <div id="cartodb-map" class="cartodb-map"></div>
  </script>

  <script id="chart-template" type="text/x-underscore-template">
    <img src="/images/chart.png" />
  </script>

  <script id="nav-template" type="text/x-underscore-template">
    <div class="switch">
      <span class="selected"></span>
      <ul>
        <li><a href="#map" class="map">map</a></li>
        <li><a href="#chart" class="chart">plot</a></li>
      </ul>
    </div>
  </script>

  <script type="infowindow/html" id="infowindow_template">
    <div class="infowindow">
      <div class="infowindow-tip-container"></div>
      <div class="infowindow-content-wrapper">
        <h1 class="infowindow-title"><%= content.data.country_name %></h1>

        <% if (content.data.slavery_policy_risk <= 100 && content.data.slavery_policy_risk > 75.25) { %>
          <p class="infowindow-risk risk1"><span>Very high</span></p>
        <% } else if (content.data.slavery_policy_risk <= 75.25 && content.data.slavery_policy_risk > 75.25) { %>
          <p class="infowindow-risk risk2"><span>High</span></p>
        <% } else if (content.data.slavery_policy_risk <= 64.64 && content.data.slavery_policy_risk > 46.96) { %>
          <p class="infowindow-risk risk3"><span>Moderate high</span></p>
        <% } else if (content.data.slavery_policy_risk <= 46.96 && content.data.slavery_policy_risk > 36.36) { %>
          <p class="infowindow-risk risk4"><span>Moderate</span></p>
        <% } else if (content.data.slavery_policy_risk <= 36.36 && content.data.slavery_policy_risk > 18.68) { %>
          <p class="infowindow-risk risk5"><span>Moderate low</span></p>
        <% } else if (content.data.slavery_policy_risk <= 18.68 && content.data.slavery_policy_risk > 0) { %>
          <p class="infowindow-risk risk6"><span>Low</span></p>
        <% } else { %>
          <p class="infowindow-risk risk7"><span>Very low</span></p>
        <% } %>

        <div class="infowindow-block infowindow-population">
          <p class="total-num">4,511,488 <span>Estimated population</span></p>
          <div class="percent"></div>
        </div>

        <div class="infowindow-block infowindow-slaved">
          <p class="total-num">51,437 <span>Est. number slaved</span></p>
          <div class="percent">6%</div>
        </div>

        <a href="#" class="more"><i>+</i>About this country</a>
      </div>
    </div>
  </script>

  <!-- TODO: Google Analytics -->
  <!-- script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='https://www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script -->

  <!-- script src="scripts/vendor/jquery-1.10.2.min.js"></script>
  <script src="scripts/vendor/jquery-migrate-1.2.1.min.js"></script>
  <script src="scripts/vendor/leaflet.js"></script -->
  <script src="scripts/vendor/d3.min.js"></script>
  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>

  <script src="scripts/slavery.js"></script>
  <script src="scripts/core/profiler.js"></script>
  <!-- models -->
  <script src="scripts/models/map.js"></script>
  <!-- views -->
  <script src="scripts/common/tabs.js"></script>
  <script src="scripts/common/tabpane.js"></script>
  <script src="scripts/common/infowindow.js"></script>

  <script src="scripts/common/nav.js"></script>
  <script src="scripts/map/map.js"></script>
  <script src="scripts/chart/chart.js"></script>

  <script src="scripts/utils.js"></script>
  <script src="scripts/app.js"></script>
</body>
</html>
