@charset "UTF-8";
/* line 17, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_map.scss */
.leaflet-container {
  background: transparent url(../images/plot-bkg.png);
}

/* line 6, ../sass/_map.scss */
.cartodb-logo {
  display: none !important;
}

/* line 10, ../sass/_map.scss */
.cartodb-map-disabled {
  cursor: default;
}

/* line 14, ../sass/_map.scss */
.mamufas {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  content: "";
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.45)), color-stop(90%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 90%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 90%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 90%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 90%);
}

/* line 26, ../sass/_map.scss */
.zoom {
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 10;
  border: 1px solid #444;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 34, ../sass/_map.scss */
.zoom a {
  float: left;
  height: 26px;
  width: 32px;
  border: 0;
  line-height: 26px;
  font-weight: bold;
  background: #f8f8f8 url(../images/zoom-sprite.png) no-repeat;
  color: #00A99D;
  text-align: center;
  text-decoration: none;
}
/* line 46, ../sass/_map.scss */
.zoom a:hover {
  background-color: #fff;
}
/* line 50, ../sass/_map.scss */
.zoom a.disabled {
  background-color: rgba(255, 255, 255, 0.9) !important;
  cursor: default;
}
/* line 55, ../sass/_map.scss */
.zoom a.zoomIn {
  -webkit-border-radius: 13px 0 0 13px;
  -moz-border-radius: 13px 0 0 13px;
  -ms-border-radius: 13px 0 0 13px;
  -o-border-radius: 13px 0 0 13px;
  border-radius: 13px 0 0 13px;
}
/* line 59, ../sass/_map.scss */
.zoom a.zoomOut {
  border-left: 1px solid #CCC;
  background-position: -32px 0;
  -webkit-border-radius: 0 13px 13px 0;
  -moz-border-radius: 0 13px 13px 0;
  -ms-border-radius: 0 13px 13px 0;
  -o-border-radius: 0 13px 13px 0;
  border-radius: 0 13px 13px 0;
}
/* line 65, ../sass/_map.scss */
.zoom a span {
  display: none;
}

/* line 69, ../sass/_map.scss */
.panel {
  position: absolute;
  top: 55px;
  left: 50px;
  z-index: 10;
  display: none;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  pointer-events: none;
}
/* line 78, ../sass/_map.scss */
.panel a {
  pointer-events: auto;
}

/* line 83, ../sass/_map.scss */
.panel-title {
  font: 300 31px/1.2 "Open Sans";
}

/* line 88, ../sass/_map.scss */
.panel-subtitle {
  width: 420px;
  font: 300 17px/1.2 "Open Sans";
}
/* line 92, ../sass/_map.scss */
.panel-subtitle a {
  color: #fff;
}

/* line 95, ../sass/_map.scss */
.panel-desc {
  width: 420px;
  font: 300 17px/1.2 "Open Sans";
  pointer-events: none;
}
/* line 100, ../sass/_map.scss */
.panel-desc a {
  color: #fff;
}

/* line 103, ../sass/_map.scss */
.panel-sep {
  display: block;
  width: 148px;
  margin: 20px 0;
  border-bottom: 2px solid #fff;
}

/* line 110, ../sass/_map.scss */
.panel-item {
  margin-bottom: 10px;
  font: 700 31px/1 "Open Sans";
  text-transform: uppercase;
  pointer-events: none;
}
/* line 116, ../sass/_map.scss */
.panel-item.slaved {
  color: #F1B14D;
}
/* line 120, ../sass/_map.scss */
.panel-item strong {
  display: block;
  font: 600 13px/1.2 "Open Sans";
  color: #ababab;
}
/* line 126, ../sass/_map.scss */
.panel-item sup {
  position: relative;
  top: -15px;
  margin-left: 5px;
  font-size: 13px;
  font-weight: 600;
}

/* line 135, ../sass/_map.scss */
.panel-credit {
  position: relative;
  border-bottom: 1px dotted #666;
  pointer-events: auto;
}
/* line 140, ../sass/_map.scss */
.panel-credit .tooltip {
  visibility: hidden;
  padding: 10px;
  min-width: 360px;
  text-align: left;
}
/* line 146, ../sass/_map.scss */
.panel-credit .tooltip a {
  color: #fff;
}

/* line 150, ../sass/_map.scss */
.infowindow {
  position: absolute;
  z-index: 10;
  display: none;
  width: 213px;
  min-height: 30px;
}
/* line 157, ../sass/_map.scss */
.infowindow .spinner {
  position: relative;
  top: 27px;
  display: block;
  background: url(../images/spinner.gif) no-repeat 0 0;
  margin: auto;
  width: 24px;
  height: 24px;
}
/* line 167, ../sass/_map.scss */
.infowindow .content {
  position: relative;
  z-index: 10;
  padding: 0 3px 60px 11px;
  min-height: 60px;
  background: url(../images/infowindow-sprite.png) no-repeat 0 16px;
}
/* line 174, ../sass/_map.scss */
.infowindow .content.no_data {
  padding: 0 3px 0 11px;
  text-align: center;
  text-transform: uppercase;
  font: bold 12px/1.2 "Open Sans";
  background: url(../images/infowindow-sprite.png) no-repeat -623px 16px;
}
/* line 181, ../sass/_map.scss */
.infowindow .content.no_data p {
  position: relative;
  top: 18px;
  padding: 0 10px;
}
/* line 188, ../sass/_map.scss */
.infowindow .content.loading {
  padding: 0 3px 0 11px;
}
/* line 193, ../sass/_map.scss */
.infowindow .top {
  position: absolute;
  top: 0;
  left: 8px;
  width: 205px;
  height: 16px;
  background: url(../images/infowindow-sprite.png) no-repeat -213px 0;
}
/* line 201, ../sass/_map.scss */
.infowindow .bottom {
  position: absolute;
  bottom: -16px;
  left: 8px;
  width: 205px;
  height: 16px;
  background: url(../images/infowindow-sprite.png) no-repeat -418px 0;
}

/* line 210, ../sass/_map.scss */
.infowindow-title {
  padding: 20px;
  color: #444;
  font: bold 21px/1 "Open Sans";
}

/* line 216, ../sass/_map.scss */
.total-num {
  float: right;
  text-align: right;
}
/* line 220, ../sass/_map.scss */
.total-num span {
  display: block;
  font: 400 10px/1.2 "Open Sans";
}

/* line 226, ../sass/_map.scss */
.infowindow-block {
  overflow: hidden;
  margin: 15px 0;
  padding: 0 20px;
  background-repeat: no-repeat;
  color: #444;
  font: bold 17px/1.2 "Open Sans";
}

/* line 236, ../sass/_map.scss */
.infowindow-slaved {
  color: #F1B14C;
  margin: 0 0 5px;
}

/* line 241, ../sass/_map.scss */
.more {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  margin: 24px 0 0 0;
  display: block;
  width: 199px;
  height: 49px;
  border-top: 2px solid #eee;
  text-transform: uppercase;
  text-decoration: none;
  font: bold 12px/49px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #00A99D !important;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 256, ../sass/_map.scss */
.more:hover {
  background: #f8f8f8;
}
/* line 260, ../sass/_map.scss */
.more i {
  position: absolute;
  display: block;
  line-height: 24px;
  top: -15px;
  left: 50%;
  width: 24px;
  margin-left: -14px;
  border: 2px solid #eee;
  background: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

/* line 273, ../sass/_map.scss */
.chip {
  display: block;
  padding: 2px;
  background: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}
/* line 282, ../sass/_map.scss */
.chip span {
  display: none;
}
/* line 284, ../sass/_map.scss */
.chip text {
  font: bold 10px/1.4 "Open Sans";
  fill: rgba(0, 0, 0, 0.5);
}
/* line 289, ../sass/_map.scss */
.chip .mean {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -18px;
  margin-left: -18px;
  font: 400 10px/36px "Open Sans";
  color: #fff;
  text-align: center;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
  border-radius: 19px;
}

/* line 303, ../sass/_map.scss */
.tooltip {
  position: absolute;
  padding: 0 10px 5px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font: 400 11px/1.4 "Open Sans";
  color: #fff;
  text-align: center;
  pointer-events: none;
}
/* line 313, ../sass/_map.scss */
.tooltip:after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: -6px;
  margin: 0 0 0 -3px;
  border-top: 6px solid rgba(0, 0, 0, 0.8);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
/* line 323, ../sass/_map.scss */
.tooltip.w:after {
  content: " ";
  position: absolute;
  left: -12px;
  bottom: 50%;
  margin: 0 0 -6px 0;
  border-top: 6px solid transparent;
  border-right: 6px solid rgba(0, 0, 0, 0.8);
  border-bottom: 6px solid transparent;
}
/* line 335, ../sass/_map.scss */
.tooltip strong,
.tooltip dt {
  display: block;
  font-weight: bold;
}
/* line 341, ../sass/_map.scss */
.tooltip dd,
.tooltip dt {
  white-space: nowrap;
}

/* line 1, ../sass/_plot.scss */
.plot-wrapper {
  background: url(../images/plot-bkg.png);
}

/* line 5, ../sass/_plot.scss */
.tick, .axis path, .grid {
  fill: none;
  stroke: rgba(255, 255, 255, 0.2);
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

/* line 17, ../sass/_plot.scss */
.axis text {
  display: none;
}

/* line 22, ../sass/_plot.scss */
.label {
  font: 500 10px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #fff;
  text-transform: uppercase;
}

/* line 28, ../sass/_plot.scss */
.grid {
  stroke: rgba(255, 255, 255, 0.1);
}

/* line 33, ../sass/_plot.scss */
circle {
  stroke: black;
  stroke-width: .5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 38, ../sass/_plot.scss */
circle.americas {
  fill: #FFD24D;
}
/* line 39, ../sass/_plot.scss */
circle.asia {
  fill: #A64DFF;
}
/* line 40, ../sass/_plot.scss */
circle.middle_east {
  fill: #5DA69D;
}
/* line 41, ../sass/_plot.scss */
circle.east_europe {
  fill: #FF73FF;
}
/* line 42, ../sass/_plot.scss */
circle.west_europe {
  fill: #64C5FF;
}
/* line 43, ../sass/_plot.scss */
circle.africa {
  fill: #FF4D4D;
}

/* line 46, ../sass/_plot.scss */
.tipsy {
  font: 400 15px/1.2 "Open Sans";
  fill: #FFF;
  pointer-events: none;
}

/* line 52, ../sass/_plot.scss */
.graph_selector .selector-items {
  width: 294px;
}

/* line 13, ../sass/main.scss */
html,
body,
.wrapper,
.map-wrapper,
.plot-wrapper,
.cartodb-map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 19, ../sass/main.scss */
.wrapper {
  background: #333;
  min-width: 960px;
}

/* line 24, ../sass/main.scss */
.nav {
  position: absolute;
  z-index: 1000001;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 960px;
  height: 62px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 36, ../sass/main.scss */
.legend {
  display: none;
  position: absolute;
  top: 25px;
  right: 20px;
}
/* line 8, ../sass/_helpers.scss */
.legend {
  *zoom: 1;
}
/* line 9, ../sass/_helpers.scss */
.legend:before, .legend:after {
  content: "";
  display: table;
}
/* line 10, ../sass/_helpers.scss */
.legend:after {
  clear: both;
}
/* line 42, ../sass/main.scss */
.legend strong {
  float: left;
  position: relative;
  top: -4px;
  margin: 0 7px 0 0;
  text-transform: uppercase;
  font: bold 10px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #414346;
}

/* line 53, ../sass/main.scss */
.legend-plot {
  top: 24px;
}
/* line 56, ../sass/main.scss */
.legend-plot ul {
  float: left;
}
/* line 58, ../sass/main.scss */
.legend-plot li {
  float: left;
  position: relative;
  margin: 0 30px 0 0;
  font: bold 10px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #393D3F;
  text-transform: uppercase;
}
/* line 66, ../sass/main.scss */
.legend-plot li i {
  width: 7px;
  height: 7px;
  margin: 0 3px 0 0;
  position: relative;
  top: -1px;
  border: 1px solid #fff;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* line 80, ../sass/main.scss */
.legend-map .gradient {
  float: left;
  width: 394px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fed976), color-stop(100%, #b20727));
  background-image: -webkit-linear-gradient(left, #fed976 0%, #b20727 100%);
  background-image: -moz-linear-gradient(left, #fed976 0%, #b20727 100%);
  background-image: -o-linear-gradient(left, #fed976 0%, #b20727 100%);
  background-image: linear-gradient(left, #fed976 0%, #b20727 100%);
}
/* line 90, ../sass/main.scss */
.legend-map .left,
.legend-map .right {
  position: relative;
  top: 12px;
  font: 500 9px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #aaa;
  text-transform: uppercase;
}
/* line 98, ../sass/main.scss */
.legend-map .left {
  float: left;
}
/* line 99, ../sass/main.scss */
.legend-map .right {
  float: right;
}

/* line 102, ../sass/main.scss */
.switch {
  position: relative;
  float: left;
  border: 1px solid #b3b3b3;
  margin: 20px 0 0 20px;
  padding: 2px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
}
/* line 110, ../sass/main.scss */
.switch span {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  width: 47px;
  background: #44464A;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  width: 47px;
}
/* line 119, ../sass/main.scss */
.switch ul {
  position: relative;
  z-index: 10;
}
/* line 124, ../sass/main.scss */
.switch li {
  float: left;
}
/* line 128, ../sass/main.scss */
.switch a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 10px;
  color: #00A99D;
  text-decoration: none;
  text-transform: uppercase;
  font: 500 12px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 136, ../sass/main.scss */
.switch a.selected {
  color: #fff;
}

/* line 142, ../sass/main.scss */
.loader {
  position: absolute !important;
}

/* line 146, ../sass/main.scss */
.selectors {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 10;
}

/* line 152, ../sass/main.scss */
.selector {
  position: relative;
  float: right;
  margin-left: 10px;
  text-align: right;
}
/* line 158, ../sass/main.scss */
.selector ul {
  position: absolute;
  right: 0;
  display: none;
  width: 254px;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  text-align: left;
}
/* line 169, ../sass/main.scss */
.selector a {
  color: #00A99D;
  text-decoration: none;
}
/* line 176, ../sass/main.scss */
.selector li:first-child a {
  border-top: 0;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 180, ../sass/main.scss */
.selector li:first-child a i {
  height: 44px;
}
/* line 183, ../sass/main.scss */
.selector li:last-child a {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 187, ../sass/main.scss */
.selector li:hover a {
  background: #f6f6f6 url("../images/selector.png") no-repeat right 0;
  color: #444;
}
/* line 192, ../sass/main.scss */
.selector li a {
  position: relative;
  display: block;
  height: 44px;
  padding-left: 14px;
  border-top: 2px solid #e5e5e5;
  background: #fff;
  font: bold 14px/44px "Open Sans";
}
/* line 201, ../sass/main.scss */
.selector li a i {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 46px;
  width: 4px;
  margin-right: 10px;
}
/* line 212, ../sass/main.scss */
.selector .link:after {
  content: "▼";
  font-size: 6px;
  top: -1px;
  position: relative;
  margin-left: 5px;
}

/* line 221, ../sass/main.scss */
.button {
  display: inline-block;
  font: bold 12px/26px "Open Sans";
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  height: 26px;
  border: 1px solid #444;
  padding: 0 10px;
  text-transform: uppercase;
  background: #fff;
  color: #aaa;
}
/* line 232, ../sass/main.scss */
.button:hover {
  background: #f8f8f8;
}
/* line 234, ../sass/main.scss */
.button span {
  display: none;
}
/* line 238, ../sass/main.scss */
.button .logo {
  display: inline-block;
  width: 20px;
  height: 26px;
  vertical-align: bottom;
  background: url("../images/share-sprite.png") no-repeat;
}
/* line 245, ../sass/main.scss */
.button .logo.twitter {
  background-position: -20px;
}
/* line 250, ../sass/main.scss */
.button .sep {
  font-weight: normal;
  color: #ccc;
}
