/* line 17, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 58, infowindow-icons/*.png */
.infowindow-icons-sprite, div.cartodb-popup div.cartodb-popup-tip-container, div.cartodb-popup div.cartodb-popup-content-wrapper {
  background: url('/images/infowindow-icons-s75f840ac18.png') no-repeat;
}

/* line 4, ../sass/_map.scss */
.map-wrapper,
.cartodb-map {
  height: 100%;
  width: 100%;
}

/* line 10, ../sass/_map.scss */
.leaflet-container {
  background: #333;
}

/* line 15, ../sass/_map.scss */
div.cartodb-legend-stack {
  z-index: 1000002;
  position: absolute;
  bottom: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 25, ../sass/_map.scss */
div.cartodb-popup {
  padding: 0;
  width: auto;
  background: transparent;
}
/* line 30, ../sass/_map.scss */
div.cartodb-popup div.cartodb-popup-tip-container {
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 260px;
  background-position: 0 -262px;
}
/* line 38, ../sass/_map.scss */
div.cartodb-popup div.cartodb-popup-content-wrapper {
  width: 166px;
  max-width: 166px;
  height: 236px;
  padding: 12px;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 10, ../sass/main.scss */
html,
body,
.wrapper {
  height: 100%;
  width: 100%;
}

/* line 15, ../sass/main.scss */
.nav {
  position: absolute;
  z-index: 1000001;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 62px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 26, ../sass/main.scss */
.switch {
  position: relative;
  float: left;
  border: 1px solid #b3b3b3;
  margin: 20px 0 0 20px;
  padding: 2px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
}
/* line 34, ../sass/main.scss */
.switch span {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  width: 47px;
  background: #44464A;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  width: 47px;
}
/* line 43, ../sass/main.scss */
.switch ul {
  position: relative;
  z-index: 10;
}
/* line 48, ../sass/main.scss */
.switch li {
  float: left;
}
/* line 52, ../sass/main.scss */
.switch a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 10px;
  color: #00A99D;
  text-decoration: none;
  text-transform: uppercase;
  font: 500 12px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 60, ../sass/main.scss */
.switch a.selected {
  color: #fff;
}
