@charset "UTF-8";
/* line 17, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_1 {
  background-color: #fed976;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_1 {
  border-bottom: 2px solid #fed976;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_2 {
  background-color: #fdd775;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_2 {
  border-bottom: 2px solid #fdd775;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_3 {
  background-color: #fdd574;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_3 {
  border-bottom: 2px solid #fdd574;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_4 {
  background-color: #fcd473;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_4 {
  border-bottom: 2px solid #fcd473;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_5 {
  background-color: #fcd272;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_5 {
  border-bottom: 2px solid #fcd272;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_6 {
  background-color: #fbd072;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_6 {
  border-bottom: 2px solid #fbd072;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_7 {
  background-color: #face71;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_7 {
  border-bottom: 2px solid #face71;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_8 {
  background-color: #facc70;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_8 {
  border-bottom: 2px solid #facc70;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_9 {
  background-color: #f9cb6f;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_9 {
  border-bottom: 2px solid #f9cb6f;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_10 {
  background-color: #f8c96e;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_10 {
  border-bottom: 2px solid #f8c96e;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_11 {
  background-color: #f8c76d;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_11 {
  border-bottom: 2px solid #f8c76d;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_12 {
  background-color: #f7c56c;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_12 {
  border-bottom: 2px solid #f7c56c;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_13 {
  background-color: #f7c36b;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_13 {
  border-bottom: 2px solid #f7c36b;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_14 {
  background-color: #f6c26b;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_14 {
  border-bottom: 2px solid #f6c26b;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_15 {
  background-color: #f5c06a;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_15 {
  border-bottom: 2px solid #f5c06a;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_16 {
  background-color: #f5be69;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_16 {
  border-bottom: 2px solid #f5be69;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_17 {
  background-color: #f4bc68;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_17 {
  border-bottom: 2px solid #f4bc68;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_18 {
  background-color: #f3bb67;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_18 {
  border-bottom: 2px solid #f3bb67;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_19 {
  background-color: #f3b966;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_19 {
  border-bottom: 2px solid #f3b966;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_20 {
  background-color: #f2b765;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_20 {
  border-bottom: 2px solid #f2b765;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_21 {
  background-color: #f1b565;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_21 {
  border-bottom: 2px solid #f1b565;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_22 {
  background-color: #f1b364;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_22 {
  border-bottom: 2px solid #f1b364;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_23 {
  background-color: #f0b263;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_23 {
  border-bottom: 2px solid #f0b263;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_24 {
  background-color: #efb062;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_24 {
  border-bottom: 2px solid #efb062;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_25 {
  background-color: #efae61;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_25 {
  border-bottom: 2px solid #efae61;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_26 {
  background-color: #eeac60;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_26 {
  border-bottom: 2px solid #eeac60;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_27 {
  background-color: #edaa5f;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_27 {
  border-bottom: 2px solid #edaa5f;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_28 {
  background-color: #eda95f;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_28 {
  border-bottom: 2px solid #eda95f;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_29 {
  background-color: #eca75e;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_29 {
  border-bottom: 2px solid #eca75e;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_30 {
  background-color: #eba55d;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_30 {
  border-bottom: 2px solid #eba55d;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_31 {
  background-color: #eba35c;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_31 {
  border-bottom: 2px solid #eba35c;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_32 {
  background-color: #eaa15b;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_32 {
  border-bottom: 2px solid #eaa15b;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_33 {
  background-color: #e9a05a;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_33 {
  border-bottom: 2px solid #e9a05a;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_34 {
  background-color: #e89e59;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_34 {
  border-bottom: 2px solid #e89e59;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_35 {
  background-color: #e89c59;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_35 {
  border-bottom: 2px solid #e89c59;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_36 {
  background-color: #e79a58;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_36 {
  border-bottom: 2px solid #e79a58;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_37 {
  background-color: #e69857;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_37 {
  border-bottom: 2px solid #e69857;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_38 {
  background-color: #e69756;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_38 {
  border-bottom: 2px solid #e69756;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_39 {
  background-color: #e59555;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_39 {
  border-bottom: 2px solid #e59555;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_40 {
  background-color: #e49354;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_40 {
  border-bottom: 2px solid #e49354;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_41 {
  background-color: #e39154;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_41 {
  border-bottom: 2px solid #e39154;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_42 {
  background-color: #e38f53;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_42 {
  border-bottom: 2px solid #e38f53;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_43 {
  background-color: #e28e52;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_43 {
  border-bottom: 2px solid #e28e52;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_44 {
  background-color: #e18c51;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_44 {
  border-bottom: 2px solid #e18c51;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_45 {
  background-color: #e08a50;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_45 {
  border-bottom: 2px solid #e08a50;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_46 {
  background-color: #e08850;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_46 {
  border-bottom: 2px solid #e08850;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_47 {
  background-color: #df864f;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_47 {
  border-bottom: 2px solid #df864f;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_48 {
  background-color: #de854e;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_48 {
  border-bottom: 2px solid #de854e;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_49 {
  background-color: #dd834d;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_49 {
  border-bottom: 2px solid #dd834d;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_50 {
  background-color: #dd814c;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_50 {
  border-bottom: 2px solid #dd814c;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_51 {
  background-color: #dc7f4b;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_51 {
  border-bottom: 2px solid #dc7f4b;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_52 {
  background-color: #db7d4b;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_52 {
  border-bottom: 2px solid #db7d4b;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_53 {
  background-color: #da7b4a;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_53 {
  border-bottom: 2px solid #da7b4a;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_54 {
  background-color: #d97a49;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_54 {
  border-bottom: 2px solid #d97a49;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_55 {
  background-color: #d97848;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_55 {
  border-bottom: 2px solid #d97848;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_56 {
  background-color: #d87647;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_56 {
  border-bottom: 2px solid #d87647;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_57 {
  background-color: #d77447;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_57 {
  border-bottom: 2px solid #d77447;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_58 {
  background-color: #d67246;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_58 {
  border-bottom: 2px solid #d67246;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_59 {
  background-color: #d67045;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_59 {
  border-bottom: 2px solid #d67045;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_60 {
  background-color: #d56f44;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_60 {
  border-bottom: 2px solid #d56f44;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_61 {
  background-color: #d46d44;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_61 {
  border-bottom: 2px solid #d46d44;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_62 {
  background-color: #d36b43;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_62 {
  border-bottom: 2px solid #d36b43;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_63 {
  background-color: #d26942;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_63 {
  border-bottom: 2px solid #d26942;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_64 {
  background-color: #d16741;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_64 {
  border-bottom: 2px solid #d16741;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_65 {
  background-color: #d16540;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_65 {
  border-bottom: 2px solid #d16540;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_66 {
  background-color: #d06340;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_66 {
  border-bottom: 2px solid #d06340;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_67 {
  background-color: #cf613f;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_67 {
  border-bottom: 2px solid #cf613f;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_68 {
  background-color: #ce5f3e;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_68 {
  border-bottom: 2px solid #ce5f3e;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_69 {
  background-color: #cd5d3d;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_69 {
  border-bottom: 2px solid #cd5d3d;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_70 {
  background-color: #cd5b3d;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_70 {
  border-bottom: 2px solid #cd5b3d;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_71 {
  background-color: #cc593c;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_71 {
  border-bottom: 2px solid #cc593c;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_72 {
  background-color: #cb583b;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_72 {
  border-bottom: 2px solid #cb583b;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_73 {
  background-color: #ca563a;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_73 {
  border-bottom: 2px solid #ca563a;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_74 {
  background-color: #c95339;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_74 {
  border-bottom: 2px solid #c95339;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_75 {
  background-color: #c85139;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_75 {
  border-bottom: 2px solid #c85139;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_76 {
  background-color: #c74f38;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_76 {
  border-bottom: 2px solid #c74f38;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_77 {
  background-color: #c74d37;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_77 {
  border-bottom: 2px solid #c74d37;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_78 {
  background-color: #c64b36;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_78 {
  border-bottom: 2px solid #c64b36;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_79 {
  background-color: #c54936;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_79 {
  border-bottom: 2px solid #c54936;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_80 {
  background-color: #c44735;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_80 {
  border-bottom: 2px solid #c44735;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_81 {
  background-color: #c34534;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_81 {
  border-bottom: 2px solid #c34534;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_82 {
  background-color: #c24333;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_82 {
  border-bottom: 2px solid #c24333;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_83 {
  background-color: #c14033;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_83 {
  border-bottom: 2px solid #c14033;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_84 {
  background-color: #c13e32;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_84 {
  border-bottom: 2px solid #c13e32;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_85 {
  background-color: #c03c31;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_85 {
  border-bottom: 2px solid #c03c31;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_86 {
  background-color: #bf3931;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_86 {
  border-bottom: 2px solid #bf3931;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_87 {
  background-color: #be3730;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_87 {
  border-bottom: 2px solid #be3730;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_88 {
  background-color: #bd352f;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_88 {
  border-bottom: 2px solid #bd352f;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_89 {
  background-color: #bc322e;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_89 {
  border-bottom: 2px solid #bc322e;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_90 {
  background-color: #bb2f2e;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_90 {
  border-bottom: 2px solid #bb2f2e;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_91 {
  background-color: #ba2d2d;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_91 {
  border-bottom: 2px solid #ba2d2d;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_92 {
  background-color: #b92a2c;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_92 {
  border-bottom: 2px solid #b92a2c;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_93 {
  background-color: #b8272c;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_93 {
  border-bottom: 2px solid #b8272c;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_94 {
  background-color: #b8242b;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_94 {
  border-bottom: 2px solid #b8242b;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_95 {
  background-color: #b7202a;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_95 {
  border-bottom: 2px solid #b7202a;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_96 {
  background-color: #b61d29;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_96 {
  border-bottom: 2px solid #b61d29;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_97 {
  background-color: #b51929;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_97 {
  border-bottom: 2px solid #b51929;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_98 {
  background-color: #b41428;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_98 {
  border-bottom: 2px solid #b41428;
}

/* line 16, ../sass/_helpers.scss */
.slavery_policy_risk_99 {
  background-color: #b30f27;
}

/* line 20, ../sass/_helpers.scss */
.infowindow-slavery_policy_risk_99 {
  border-bottom: 2px solid #b30f27;
}

/* line 2, ../sass/_map.scss */
.leaflet-container {
  background: transparent;
}

/* line 6, ../sass/_map.scss */
.cartodb-logo {
  display: none !important;
}

/* line 10, ../sass/_map.scss */
.cartodb-map-disabled {
  cursor: default;
}

/* line 14, ../sass/_map.scss */
.mamufas {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  content: "";
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.45)), color-stop(90%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 90%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 90%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 90%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 90%);
}

/* line 26, ../sass/_map.scss */
.zoom {
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 10;
  border: 1px solid #444;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 34, ../sass/_map.scss */
.zoom a {
  float: left;
  height: 26px;
  width: 32px;
  border: 0;
  line-height: 26px;
  font-weight: bold;
  background: #f8f8f8 url("../images/zoom-sprite.png") no-repeat;
  color: #00A99D;
  text-align: center;
  text-decoration: none;
}
/* line 46, ../sass/_map.scss */
.zoom a:hover {
  background-color: #fff;
}
/* line 50, ../sass/_map.scss */
.zoom a.disabled {
  background-color: rgba(255, 255, 255, 0.9) !important;
  cursor: default;
}
/* line 55, ../sass/_map.scss */
.zoom a.zoomIn {
  -webkit-border-radius: 13px 0 0 13px;
  -moz-border-radius: 13px 0 0 13px;
  -ms-border-radius: 13px 0 0 13px;
  -o-border-radius: 13px 0 0 13px;
  border-radius: 13px 0 0 13px;
}
/* line 59, ../sass/_map.scss */
.zoom a.zoomOut {
  border-left: 1px solid #CCC;
  background-position: -32px 0;
  -webkit-border-radius: 0 13px 13px 0;
  -moz-border-radius: 0 13px 13px 0;
  -ms-border-radius: 0 13px 13px 0;
  -o-border-radius: 0 13px 13px 0;
  border-radius: 0 13px 13px 0;
}
/* line 65, ../sass/_map.scss */
.zoom a span {
  display: none;
}

/* line 69, ../sass/_map.scss */
.panel {
  position: absolute;
  top: 55px;
  left: 50px;
  z-index: 10;
  display: none;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  pointer-events: none;
}
/* line 78, ../sass/_map.scss */
.panel a {
  pointer-events: auto;
}

/* line 83, ../sass/_map.scss */
.panel-title {
  font: 300 67px/1.2 "Open Sans";
}

/* line 88, ../sass/_map.scss */
.panel-subtitle {
  width: 420px;
  font: 300 17px/1.2 "Open Sans";
}
/* line 92, ../sass/_map.scss */
.panel-subtitle a {
  color: #fff;
}

/* line 95, ../sass/_map.scss */
.panel-desc {
  width: 420px;
  font: 300 17px/1.2 "Open Sans";
  pointer-events: none;
}
/* line 100, ../sass/_map.scss */
.panel-desc a {
  color: #fff;
}

/* line 103, ../sass/_map.scss */
.panel-sep {
  display: block;
  width: 148px;
  margin: 25px 0;
  border-bottom: 2px solid #fff;
}

/* line 110, ../sass/_map.scss */
.panel-item {
  margin-bottom: 10px;
  font: 700 41px/1 "Open Sans";
  text-transform: uppercase;
  pointer-events: none;
}
/* line 116, ../sass/_map.scss */
.panel-item.slaved {
  color: #F1B14D;
}
/* line 120, ../sass/_map.scss */
.panel-item strong {
  display: block;
  font: 600 13px/1.2 "Open Sans";
  color: #ababab;
}
/* line 126, ../sass/_map.scss */
.panel-item sup {
  position: relative;
  top: -30px;
  font-size: 13px;
  font-weight: 600;
}

/* line 134, ../sass/_map.scss */
.infowindow {
  position: absolute;
  z-index: 10;
  display: none;
  width: 213px;
  min-height: 30px;
}
/* line 141, ../sass/_map.scss */
.infowindow .spinner {
  position: relative;
  top: 27px;
  display: block;
  background: url(../images/spinner.gif) no-repeat 0 0;
  margin: auto;
  width: 24px;
  height: 24px;
}
/* line 151, ../sass/_map.scss */
.infowindow .content {
  position: relative;
  z-index: 10;
  padding: 0 3px 60px 11px;
  min-height: 60px;
  background: url(../images/infowindow-sprite.png) no-repeat 0 16px;
}
/* line 158, ../sass/_map.scss */
.infowindow .content.no_data {
  padding: 0 3px 0 11px;
  text-align: center;
  text-transform: uppercase;
  font: bold 12px/1.2 "Open Sans";
  background: url(../images/infowindow-sprite.png) no-repeat -623px 16px;
}
/* line 165, ../sass/_map.scss */
.infowindow .content.no_data p {
  position: relative;
  top: 30px;
}
/* line 171, ../sass/_map.scss */
.infowindow .content.loading {
  padding: 0 3px 0 11px;
}
/* line 176, ../sass/_map.scss */
.infowindow .top {
  position: absolute;
  top: 0;
  left: 8px;
  width: 205px;
  height: 16px;
  background: url(../images/infowindow-sprite.png) no-repeat -213px 0;
}
/* line 184, ../sass/_map.scss */
.infowindow .bottom {
  position: absolute;
  bottom: -16px;
  left: 8px;
  width: 205px;
  height: 16px;
  background: url(../images/infowindow-sprite.png) no-repeat -418px 0;
}

/* line 193, ../sass/_map.scss */
.infowindow-title {
  padding: 20px;
  color: #444;
  font: bold 21px/1 "Open Sans";
}

/* line 199, ../sass/_map.scss */
.total-num {
  float: right;
  text-align: right;
}
/* line 203, ../sass/_map.scss */
.total-num span {
  display: block;
  font: 400 10px/1.2 "Open Sans";
}

/* line 209, ../sass/_map.scss */
.infowindow-block {
  overflow: hidden;
  margin: 10px 0;
  padding: 0 20px;
  background-repeat: no-repeat;
  color: #444;
  font: bold 21px/1.2 "Open Sans";
}

/* line 219, ../sass/_map.scss */
.infowindow-population {
  background: url(../images/infowindow-icons/population.png) no-repeat 18px 4px;
  margin: 10px 0 10px 0;
}

/* line 224, ../sass/_map.scss */
.infowindow-slaved {
  background: url(../images/infowindow-icons/slavery.png) no-repeat 20px 0;
  color: #F1B14C;
  margin-bottom: 0;
}

/* line 230, ../sass/_map.scss */
.percent {
  float: left;
  padding: 0 5px;
  margin: 9px 0;
  font-size: 11px;
  background: #FFF;
}

/* line 238, ../sass/_map.scss */
.more {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  margin: 24px 0 0 0;
  display: block;
  width: 199px;
  height: 49px;
  border-top: 2px solid #eee;
  text-transform: uppercase;
  text-decoration: none;
  font: bold 12px/49px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #00A99D !important;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 253, ../sass/_map.scss */
.more:hover {
  background: #f8f8f8;
}
/* line 257, ../sass/_map.scss */
.more i {
  position: absolute;
  display: block;
  line-height: 24px;
  top: -15px;
  left: 50%;
  width: 24px;
  margin-left: -14px;
  border: 2px solid #eee;
  background: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

/* line 270, ../sass/_map.scss */
.chip {
  display: block;
  padding: 2px;
  background: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}
/* line 279, ../sass/_map.scss */
.chip span {
  display: none;
}
/* line 281, ../sass/_map.scss */
.chip text {
  font: bold 10px/1.4 "Open Sans";
  fill: rgba(0, 0, 0, 0.5);
}
/* line 286, ../sass/_map.scss */
.chip .mean {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -18px;
  margin-left: -18px;
  font: 400 10px/36px "Open Sans";
  color: #fff;
  text-align: center;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
  border-radius: 19px;
}

/* line 300, ../sass/_map.scss */
.tooltip {
  position: absolute;
  padding: 0 10px 5px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font: 400 11px/1.4 "Open Sans";
  color: #fff;
  text-align: center;
  pointer-events: none;
}
/* line 310, ../sass/_map.scss */
.tooltip:after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: -6px;
  margin-left: -6px;
  border-top: 6px solid rgba(0, 0, 0, 0.8);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
/* line 320, ../sass/_map.scss */
.tooltip strong {
  display: block;
  font-weight: bold;
}

/* line 1, ../sass/_plot.scss */
.chart-wrapper {
  background: url('/images/chart-bkg.png');
}

/* line 5, ../sass/_plot.scss */
.tick, .axis path, .grid {
  fill: none;
  stroke: rgba(255, 255, 255, 0.2);
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

/* line 17, ../sass/_plot.scss */
.axis text {
  display: none;
}

/* line 22, ../sass/_plot.scss */
.label {
  font: 500 10px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #fff;
  text-transform: uppercase;
}

/* line 28, ../sass/_plot.scss */
.grid {
  stroke: rgba(255, 255, 255, 0.1);
}

/* line 33, ../sass/_plot.scss */
circle {
  stroke: black;
  stroke-width: .5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 38, ../sass/_plot.scss */
circle.americas {
  fill: #FFD24D;
}
/* line 39, ../sass/_plot.scss */
circle.asia {
  fill: #A64DFF;
}
/* line 40, ../sass/_plot.scss */
circle.middle_east {
  fill: #5DA69D;
}
/* line 41, ../sass/_plot.scss */
circle.east_europe {
  fill: #FF73FF;
}
/* line 42, ../sass/_plot.scss */
circle.west_europe {
  fill: #64C5FF;
}
/* line 43, ../sass/_plot.scss */
circle.africa {
  fill: #FF4D4D;
}

/* line 46, ../sass/_plot.scss */
.tipsy {
  font: 400 15px/1.2 "Open Sans";
  fill: #FFF;
  pointer-events: none;
}

/* line 52, ../sass/_plot.scss */
.graph_selector .selector-items {
  width: 294px;
}

/* line 13, ../sass/main.scss */
html,
body,
.wrapper,
.map-wrapper,
.plot-wrapper,
.cartodb-map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 19, ../sass/main.scss */
.wrapper {
  background: #333;
  min-width: 960px;
}

/* line 24, ../sass/main.scss */
.nav {
  position: absolute;
  z-index: 1000001;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 960px;
  height: 62px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 36, ../sass/main.scss */
.legend {
  display: none;
  position: absolute;
  top: 25px;
  right: 20px;
}
/* line 8, ../sass/_helpers.scss */
.legend {
  *zoom: 1;
}
/* line 9, ../sass/_helpers.scss */
.legend:before, .legend:after {
  content: "";
  display: table;
}
/* line 10, ../sass/_helpers.scss */
.legend:after {
  clear: both;
}
/* line 42, ../sass/main.scss */
.legend strong {
  float: left;
  position: relative;
  top: -4px;
  margin: 0 7px 0 0;
  text-transform: uppercase;
  font: bold 10px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #414346;
}

/* line 53, ../sass/main.scss */
.legend-plot {
  top: 24px;
}
/* line 56, ../sass/main.scss */
.legend-plot ul {
  float: left;
}
/* line 58, ../sass/main.scss */
.legend-plot li {
  float: left;
  position: relative;
  margin: 0 30px 0 0;
  font: bold 10px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #393D3F;
  text-transform: uppercase;
}
/* line 66, ../sass/main.scss */
.legend-plot li i {
  width: 7px;
  height: 7px;
  margin: 0 3px 0 0;
  position: relative;
  top: -1px;
  border: 1px solid #fff;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* line 80, ../sass/main.scss */
.legend-map .gradient {
  float: left;
  width: 394px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fed976), color-stop(100%, #b20727));
  background-image: -webkit-linear-gradient(left, #fed976 0%, #b20727 100%);
  background-image: -moz-linear-gradient(left, #fed976 0%, #b20727 100%);
  background-image: -o-linear-gradient(left, #fed976 0%, #b20727 100%);
  background-image: linear-gradient(left, #fed976 0%, #b20727 100%);
}
/* line 90, ../sass/main.scss */
.legend-map .left,
.legend-map .right {
  position: relative;
  top: 12px;
  font: 500 9px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #aaa;
  text-transform: uppercase;
}
/* line 98, ../sass/main.scss */
.legend-map .left {
  float: left;
}
/* line 99, ../sass/main.scss */
.legend-map .right {
  float: right;
}

/* line 102, ../sass/main.scss */
.switch {
  position: relative;
  float: left;
  border: 1px solid #b3b3b3;
  margin: 20px 0 0 20px;
  padding: 2px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
}
/* line 110, ../sass/main.scss */
.switch span {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  width: 47px;
  background: #44464A;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  width: 47px;
}
/* line 119, ../sass/main.scss */
.switch ul {
  position: relative;
  z-index: 10;
}
/* line 124, ../sass/main.scss */
.switch li {
  float: left;
}
/* line 128, ../sass/main.scss */
.switch a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 10px;
  color: #00A99D;
  text-decoration: none;
  text-transform: uppercase;
  font: 500 12px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 136, ../sass/main.scss */
.switch a.selected {
  color: #fff;
}

/* line 142, ../sass/main.scss */
.loader {
  position: absolute !important;
}

/* line 146, ../sass/main.scss */
.selectors {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 10;
}

/* line 152, ../sass/main.scss */
.selector {
  position: relative;
  float: right;
  margin-left: 10px;
  text-align: right;
}
/* line 158, ../sass/main.scss */
.selector ul {
  position: absolute;
  right: 0;
  display: none;
  width: 254px;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  text-align: left;
}
/* line 169, ../sass/main.scss */
.selector a {
  color: #00A99D;
  text-decoration: none;
}
/* line 176, ../sass/main.scss */
.selector li:first-child a {
  border-top: 0;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 180, ../sass/main.scss */
.selector li:first-child a i {
  height: 44px;
}
/* line 183, ../sass/main.scss */
.selector li:last-child a {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 187, ../sass/main.scss */
.selector li:hover a {
  background: #f6f6f6 url("../images/selector.png") no-repeat right 0;
  color: #444;
}
/* line 192, ../sass/main.scss */
.selector li a {
  position: relative;
  display: block;
  height: 44px;
  padding-left: 14px;
  border-top: 2px solid #e5e5e5;
  background: #fff;
  font: bold 14px/44px "Open Sans";
}
/* line 201, ../sass/main.scss */
.selector li a i {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 46px;
  width: 4px;
  margin-right: 10px;
}
/* line 212, ../sass/main.scss */
.selector .link:after {
  content: "▼";
  font-size: 6px;
  top: -1px;
  position: relative;
  margin-left: 5px;
}

/* line 221, ../sass/main.scss */
.button {
  display: inline-block;
  font: bold 12px/26px "Open Sans";
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  height: 26px;
  border: 1px solid #444;
  padding: 0 10px;
  text-transform: uppercase;
  background: #fff;
  color: #aaa;
}
/* line 232, ../sass/main.scss */
.button:hover {
  background: #f8f8f8;
}
/* line 234, ../sass/main.scss */
.button span {
  display: none;
}
/* line 238, ../sass/main.scss */
.button .logo {
  display: inline-block;
  width: 24px;
  height: 26px;
  vertical-align: bottom;
  background: url("../images/share-sprite.png") no-repeat;
}
/* line 245, ../sass/main.scss */
.button .logo.twitter {
  background-position: -24px;
}
/* line 250, ../sass/main.scss */
.button .sep {
  font-weight: normal;
  color: #ccc;
}
